@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #000000;
	--secondary-background: #00014d;
	--secondary-foreground: #ffffff;
	--accent: #484bff;
	--tertiary-background: #1d519a;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-secondary-background: var(--secondary-background);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-tertiary-background: var(--tertiary-background);
	--font-primary: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-primary), Arial, Helvetica, sans-serif;
}
